// 首頁content
.post-title {
    text-align: left;
}

.post-meta {
    text-align: left;
}

.read-more-container {
    text-align: right;
}

.read-more-link {
    letter-spacing: 1px;
}

// nav bar
.menu-item-name {
    margin-left: 5px;
    font-family: 微軟正黑體;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.5px;
}

// footer

.footer-icon {
    fill: #1a998e;
}
